header{
	display: flex;
	justify-content: space-between;
	height: 70px;
	background: #E7E5E3;
	align-items: center;
	padding: 10px;

}

.logo img{
	height: 100px;
	margin-top: 15px;
}

a{
	text-decoration: none;
	color: black;
	font-size: 25px;
}
a:hover{
	color: #f191ab;
}
nav a{
	padding-right: 70px;
	font-family: Soul Billani;
}

h1{
	text-align: center;
	font-size: 70px;
	font-family: Soul Billani;
}
footer{
	background: #E7E5E3;
	font-family:Calibri;
	padding: 5px;
	display: flex;
	justify-content: center;
	margin-top: 70px;
}
footer a{
	margin-left: 5px;
}

h2{
	text-align: center;
	font-size: 40px;
	font-family: Soul Billani;
	padding-bottom: 20px;
}
.check-container{
	margin-left: 630px;
	font-size: 60px;
}
button{
	text-align: center;
	justify-items: center;
	margin-left: 615px;
	margin-bottom: 5px;
	margin-top: 10px;
}
button a{
	font-size: 15px;
}
button a:hover{
	color: white;
}
button:hover{
	background: #f191ab;

}
